body {
    margin: 0;
    line-height: normal;
  }
  
  :root {
    /* fonts */
    --font-inter: Inter;
    --font-lavishly-yours: "Lavishly Yours";
  
    /* font sizes */
    --font-size-xl: 20px;
    --font-size-6xl: 25px;
    --font-size-16xl: 35px;
    --font-size-mini: 15px;
  
    /* Colors */
    --color-white: #fff;
    --color-black: #000;
    --color-gainsboro: #d9d9d9;
    --color-khaki: #ecf672;
  
    /* Border radiuses */
    --br-6xl: 25px;
  }
  